@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Karla", sans-serif;
	scroll-behavior: smooth;
}

.app {
	min-height: 100vh;
	background-color: #211f1f;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}
