.search {
	display: flex;
	padding: 32px 16px;

	input {
		max-width: 350px;
		width: 100%;
		padding: 12px 6px;
		font-size: 14px;
		border: none;
		&:focus {
			outline: none;
		}
	}

	.button {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
